<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="container">

<h1 th:text="${test}"  style="text-align: center"></h1>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Operations</th>
    </tr>
<th:block th:each="user : ${users}">
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td style="display: flex">
            <a th:href="@{/users/edit?userId={userId}(userId=${user.id})}" class="btn btn-info" role="button">Update</a>
            <a th:href="@{/users/delete?userId={userId}(userId=${user.id})}" class="btn btn-danger mx-3" role="button">Delete</a>
            <div th:unless="${#lists.size(users) == 1}">
                <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-warning" role="button">View</a>
            </div>

        </td>
    </tr>
</th:block>
</table>
<br>
<div th:unless="${#lists.size(users) == 1}">
    <input type="button" value="Add" onclick="window.location.href = 'users/new'" class="btn btn-primary">
</div>


</body>
</html>